@media (max-width: 600px) {
    .item > p {
        text-align: center;
    }


    #color_mode{
        scale: .75;
    }

    .image-set {
        margin: 0 auto 10px;
    }

    .item-name{
        text-align: center;
    }

    .item {
        justify-content: center;
        flex-direction: column;
    }

    ol>li{
        margin-top: 25px;
        margin-bottom: 75px;
    }
}