@media (max-width: 600px) {
    .item > p {
        text-align: center;
        margin: auto;
    }

    .image-set {
        margin: 0 auto 10px;
    }

    .item-name{
        text-align: center;
    }

    .item {
        justify-content: center;
        flex-direction: column;
    }
}